.pad-1 {
  padding: 10px;
}
.pad-2 {
  padding: 20px;
}
.pad-3 {
  padding: 30px;
}
.pad-4 {
  padding: 40px;
}
.pad-top1 {
  padding-top: 10px;
}
.pad-top2 {
  padding-top: 20px;
}
.pad-top3 {
  padding-top: 30px;
}
.pad-top4 {
  padding-top: 40px;
}
.pad-bot1 {
  padding-bottom: 10px;
}
.pad-bot2 {
  padding-bottom: 20px;
}
.pad-bot3 {
  padding-bottom: 30px;
}
.pad-bot4 {
  padding-bottom: 40px;
}
.marg-1 {
  margin: 10px;
}
.marg-2 {
  margin: 20px;
}
.marg-3 {
  margin: 30px;
}
.marg-4 {
  margin: 40px;
}
.marg-top1 {
  margin-top: 10px;
}
.marg-top2 {
  margin-top: 20px;
}
.marg-top3 {
  margin-top: 30px;
}
.marg-top4 {
  margin-top: 40px;
}
.marg-bot1 {
  margin-bottom: 10px;
}
.marg-bot2 {
  margin-bottom: 20px;
}
.marg-bot3 {
  margin-bottom: 30px;
}
.marg-bot4 {
  margin-bottom: 40px;
}
#projects ul {
  margin: 10px 0px;
  padding: 0px;
}
#projects .project {
  background-color: #366272;
  list-style: none;
  color: white;
}
#projects .project a {
  color: white;
}
